<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
</head>
<body>
<h1> Edit page</h1>
<form th:action="posts/edit" method="post">

    <label name="postTitle">Title of post</label>
    <input name="postTitle" th:value="${postToEdit.getTitle()}">

    <label name="postBody">Body of post</label>
    <input name="postBody" th:value="${postToEdit.getBody()}">

    <input name="postId" type="hidden" th:value="${postToEdit.getId}">
    <button>Post Edit</button>
</form>
</body>
</html>