<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dice</title>
</head>
<body>


   <a href="/rolldice/1" th:name="number">Guess 1<a/>
       <a href="/rolldice/2" th:name="number">Guess 2<a/>
           <a href="/rolldice/3" th:name="number">Guess 3<a/>
               <a href="/rolldice/4" th:name="number">Guess 4<a/>
                   <a href="/rolldice/5" th:name="number">Guess 5<a/>
                       <a href="/rolldice/6" th:name="number">Guess 6<a/>


</body>
</html>